[2016-06-15 09:19] beatrizleon opened #1 "Error when testing a pylon dart"
I get the following error when launching `roslaunch pylon_camera pylon_camera_node.launch`:

![image](https://cloud.githubusercontent.com/assets/12493239/16074377/1de80714-32e2-11e6-925e-875f48d0425b.png)

It seems that only mono8 cameras are supported. Is that true or I am missing something?

[2016-06-15 09:52] marc-up commented on #1
Hello Beatriz,

you're alright - up to now the package only supports MONO8 cameras.
If a camera supports color encodings as well as MONO8, the latter will be selected.
Unfortunately the daA1280-54uc you are using does not provide MONO8 images.

http://www.baslerweb.com/en/products/cameras/area-scan-cameras/dart/daa1280-54uc

Best regards,
Marcel

[2016-06-15 10:35] beatrizleon commented on #1
Hi Marcel,

Thanks for your answer.

Please let me know when you add support for color images. We created a package that is generating ros images but I am having problems with the color format (between bgr and rgb). I am really interested in testing anorther solution to see if that manage to solve that problem.

https://github.com/shadow-robot/basler_camera

Thanks,
Beatriz

[2016-06-15 11:18] marceldebout opened #2 "pylon_camera-pkg does not support image encodings differing from mono8"
Adding this feature is not planned in the close future.

If several people will vote for that issue, and one likes to make a pull request, I can imagine to give a developer introduction on how to add this feature in the code or rather on what parts should be changed.

[2016-06-15 11:21] marc-up commented on #1
Hi Beatriz,

I created a new issue and will wait for votes:
https://github.com/magazino/pylon_camera/issues/2

Marcel

[2016-06-15 11:22] #1 closed

[2016-06-21 16:56] andermi opened #3 ""startGrabbing: Node is not writable." in pylon_camera package"
When I try to launch the pylon_camera node, I receive the following error:

I traced through the code and found that an exception is thrown when the node is trying to set the PixelFormat to Mono8 using the setValue function in pylon_camera_base.hpp in the startGrabbing function.

I'm using the basler ace acA4600-7gc GigE camera with pylon 5 sdk. I can view the camera images and set camera paramete

[2016-06-22 09:41] marc-up commented on #3
Thanks for reporting! I could reproduce the error using a acA4600-10uc and will try to provide a fix within the next days.

[2016-06-22 19:25] andermi commented on #3
Great, thank you! If you need any more info from me, please let me know!

[2016-06-23 08:04] marc-up commented on #3
Done! Please leave a feedback if your problem could be solved.

[2016-06-23 19:07] andermi commented on #3
That seems to have done the trick! Thank you for such a quick response!

[2016-06-27 22:41] #3 closed

[2016-07-14 12:28] StudentCV opened #4 "Fix typo in Tutorial"
Hey,
there is a typo in your tutorial over at http://wiki.ros.org/pylon_camera it says

/etc/ros/rosdep/sources.list.d/15-**plyon**_camera.list

instead of

/etc/ros/rosdep/sources.list.d/15-**pylon**_camera.list

it does not break anything so this does not have a high priority. Also, the distribution names do not necessarily need to be changed for e.g. `kinetic` as the branch `kinetic-devel` does

[2016-07-14 12:30] NikolasE commented on #4
Hey!

Thanks for the hint, but It's a wiki page, so could can change typos yourself :)

[2016-10-25 15:35] pylipp commented on #2
I'm interested in color camera support since I'm using a dart, too!
Also I found out that RGB8 support has been implemented in [this fork](https://github.com/kmalhan/pylon_camera/tree/rgb8_support). I could run the node using a daA1920-30uc.

EDIT: I just saw that there has already been PR #7 , so nvm.

[2017-02-15 20:07] pnambiar opened #10 "Basler pulse"
Does this package work with Basler pulse?

Thanks,
-P

[2017-02-16 09:17] marc-up commented on #10
Unfortunately, we've got no pulse camera here, and therefore I didn't ever test it. But as far as I could read from the website, this cam may behave as the USB 3.0 ace cameras, so it might be, that it will work.

[2017-02-16 10:05] #2 closed

[2017-02-16 10:05] #4 closed

[2017-02-16 18:08] pnambiar commented on #10
Thanks!

[2017-03-08 03:20] irazr opened #15 "Hardware trigger mode"
Hi, does this package support hardware trigger mode?

[2017-03-08 07:03] marc-up commented on #15
No, this pkg does not support the hardware trigger mode.
It's furthermore not planned to be implemented in the future.

Best,
Marcel

[2017-03-08 07:25] #10 closed

[2017-03-08 07:32] magazino commented on #15
Feel free to add it, in  case you need it ;-)

[2017-03-08 08:15] yquantao commented on #15
Yep thanks, I'll have a try, because in my case, two cameras should be opened at the same time.

Best,
Yang

[2017-03-09 16:39] marceldebout opened #16 "Feature request: Automatic configuration in case multiple gige cameras are connected"
This affects the applyCamSpecificStartupSettings() method in the pylon_camera_gige.hpp.
`
cam_->GevSCPSPacketSize.SetValue(parameters.mtu_size_);                                                                                                                        cam_->GevSCPD.SetValue(parameters.inter_pkg_delay_);
`
The inter-pkg-delay should be adapted but one has to figure out how this can be

[2017-03-09 16:57] marceldebout opened #17 "Feature request: Support 12bit pixel depth"
Currently only 8bit pixel depth is supported. The brightness / exposure search and different other functions are operating on values between 0 and 255. The support of 12bit pixel depth would need to template multiple functions that take `uint8_t` as default pixel type by taking into account the number of channels.

[2017-04-21 21:39] jonbinney opened #19 "Use standard topics for camera drivers"
Usually nodes publish using the public node handle, and use the private node handle only for looking up parameters. This creates problems when trying to use image_proc. The normal setup would be to start the camera driver (this package) as a nodelet in a namespace, and image_proc nodelets in the same namespaces. the image proc nodelets expect raw images on "image_raw, the camera driver nodelet pub

[2017-04-21 22:13] jonbinney commented on #19
The main downside would be that since this changes topics, it would break current setups that people have. For that reason, it would probably only make sense if a new branch is created for kinetic/lunar so that the indigo code could be left unchanged, or maybe some workaround where images are published on both new and old topics for now.

A couple of links:

The ROS driver for point grey cameras,

[2017-04-21 22:28] jonbinney commented on #16
@marceldebout I get a 404 error when I follow the documentation link you posted.

[2017-04-24 12:56] marc-up commented on #16
@jonbinney [This is the desired document](https://github.com/magazino/pylon_camera/files/951740/AW00064902000_Controlling_Packet_Timing_With_Delays.pdf)

But I think this issue can be seen as closed, because the inter-pkg-delay is already provided as a parameter and and can't be calculated directly. It's furthermore recommended to be figured out via trial and error with the usage of the PylonViewe

[2017-04-26 12:06] fehlfarbe opened #20 "Grab was not successful / Error: 3774873620 The buffer was incompletely grabbed."
I want to capture images from a Basler acA1300-60gm and the ROS pylon_camera node. I can open and control the camera with Pylon's PylonViewerApp. But when I'm starting the ROS node with `roslaunch pylon_camera pylon_camera_node.launch` I get error messages that the frames can't be grabbed:

[code]

When I start the ROS image viewer `rosrun image_view image_view image:=/pylon_camera_node/image_raw`

[2017-04-27 18:40] Grillen80 commented on #20
Dear Fehlfarbe, I'm running into the same problem while running the basler camera. A bunch of error messages appear while starting the roslaunch application. Did you get it running or are you still stucking in the same problem. I hope that someone could help me out.

[2017-04-27 20:23] #16 closed

[2017-04-27 20:45] marc-up commented on #20
I think it's a problem of your network configuration.
@fehlfarbe are you using a RaspberryPI? Why is your inter-pkg-delay set to 11772?
When using GigE cameras you first have to set the MTU size of your NIC to the maximum supported (9000 is a good guess, validate e.g. via `ifconfig`).
The corresponding parameter in the config file of the node should be set as well.
Here is the description taken ou

[2017-04-27 21:02] marc-up commented on #19
Thanks a lot for the explanation!

The reason why we decided to not do it the standard way is that the continuous publishing of images under a topic leads to problems if you have multiple nodes requesting images with different settings (e.g one node requests for bright images, and just afterwards another one asks for dark ones).
So, to make sure, that every node gets only the images it wants, we i

[2017-04-29 14:16] themightyoarfish opened #21 "Installation instructions unclear"
The instructions say

However, the only part where `indigo` occurs is in
`sudo sh -c 'echo "yaml https://raw.githubusercontent.com/magazino/pylon_camera/indigo-devel/rosdep/pylon_sdk.yaml " > /etc/ros/rosdep/sources.list.d/15-plyon_camera.list'`

Replacing `indigo` with something else will error since the file won't exist. So it's not clear if and how the installation instructions must be adapted

[2017-04-29 22:32] jonbinney commented on #19
Ah, I understand. The action server is cool - definitely one of the better ways to handle cases where you want synchronous behavior. The asynchronous nature of pub/sub makes many things easier (introspection, logging, visualization) but definitely comes up short when ordering of operations and avoiding conflicts because multiple clients want to control a resource.

Ideally there should be some way

[2017-04-29 22:35] jonbinney commented on #19
One other thought: dynamic_reconfigure is often useful for these types of things. It is synchronous, since it uses a service to update the settings on the server node (in this case the pylon_camera node). The thing it doesn't have, which actionlib does, is the ability to block other nodes from changing the camera settings for a while.

[2017-05-02 14:19] fehlfarbe commented on #20
Thanks!
I looked at the inter-pkg-delay and MTU in PylonViewerApp and it was set to inter-pkg-delay: 0 and MTU: 1500 which works with ~85 fps and no errors. The pylon_camera driver doesn't work with these settings but when I increase the MTU of my network device from 1500 to 3000 it's working.

[2017-05-02 14:19] #20 closed

[2017-05-03 01:08] jonbinney opened #22 "Pylon library download URL has changed"
At least it appears that way. The rosdep rule to install the pylon library just started failing for me with:

[code]

The URL for downloading the package redirects to https://www.baslerweb.com/en/support/downloads/document-downloads/, which is a general page for downloading various documents. I think that the correct URL should be https://www.baslerweb.com/media/downloads/software/pylon_software/<

[2017-05-15 10:25] simonbogh commented on #22
I have the exact same issue, and you are correct, the URL has changed.

[2017-06-02 22:15] jonbinney commented on #22
Hmm... the new URL is now failing.... looks like they may have moved it again. Investigating.

[2017-06-02 22:28] jonbinney commented on #22
Ugh they named the file for the 5.0.1 version `pylon-5016388-x86_64tar.gz` (note that there is no `.` before `.tar`!). Also no `.` between the version numbers.

[2017-06-02 22:45] jonbinney commented on #22
I've hacked this PR to work. The tarball name changed, and now the tarball name is different than the name of the directory it contains. If anybody knows anyone at basler, curse at them for me...

[2017-07-24 14:20] andrejpan commented on #21
Strongly supporting to update the instructions.

[2017-08-01 14:24] AustinDeric commented on #20
I am also having this issue when trying to run the pylon_camera_node:
- PylonViewApp works nicely
- MTU matches my NIC and is 1500.  even if i change it to 3000, it wont work.
- inter-pkg-delay is 0 in the PylonViewApp and no matter what i put here it won't work

[code]

[2017-08-03 18:44] Crusty82 opened #24 "Installation command to add yaml url to 15-pylon_camera.list broken."
On ROS Wiki there is an extra semicolon that breaks this for me.

Command given on ROS Wiki (http://wiki.ros.org/pylon_camera)

sudo sh -c 'echo "yaml https://raw.githubusercontent.com/magazino/pylon_camera/indigo-devel/rosdep/pylon_sdk.yaml"; > /etc/ros/rosdep/sources.list.d/15-pylon_camera.list'

This simply prints "yaml https://raw.githubusercontent.com/magazino/pylon_camera/indigo-devel/rosdep

[2017-08-07 06:25] marc-up commented on #24
Thanks for the feedback! Should be fixed now

[2017-08-07 06:25] #24 closed

[2017-08-11 15:49] void-robotics commented on #20
I'm also stuck like @AustinDeric; any more help?

[2017-08-11 15:53] AustinDeric commented on #20
@nathangeorge1 What i ended up doing was setting my network adapter mtu to 9000 using the command (substitute your network adapter for eth0):
``` ifconfig eth0 mtu 9000```
then in the config set your mtu also to 9000.  My inter_pkg_delay was 10000 but i am not sure the delay parameter had any impact. this should work for you.

It would be great if the ros pylon script worked as well as the pylon v

[2017-08-11 16:02] void-robotics commented on #20
hello @AustinDeric I just set `ifconfig enp0s3 mtu 9000` and also set within pylon_camera/config/default.yaml the mtu_size: 9000 and even inter_pkg_delay: 10000 just in case; but I'm still stuck

My error output:
[code]

[2017-08-17 06:09] zhangyongwei93 opened #25 "Increase image frame rate"
Hello,
The camera I used is basler daA1600-60uc, USB interface,  ROS is kinetic, when I use pylon viewer software to capture image with **Bayer8** format, the frame rate can up to 60fps, but when I use this ROS package with **bayer_rggb8** format , the output include this
<pre><code>
Desired framerate 60.00 is higher than max possible. Will limit framerate to: 30.60 Hz
</code></pre>
the image can

[2017-08-17 06:15] NikolasE commented on #25
What's your exposure? And is the framerate higher for other formats?

[2017-08-18 13:38] zhangyongwei93 commented on #25
When the exposure decrease, the framerate will increase, it can up to about 44fps while exposure is 6000 microseconds, but when I set **exposure_auto** to true, the framerate back to 30fps. And framerate is lower for other formats, such as **rgb8** format, about 17fps. Using pylon viewer software is normal.

[2017-08-19 06:55] NikolasE commented on #25
What's your exposure when you activate exposure_auto? @marceldebout

[2017-08-19 06:57] NikolasE commented on #22
Basler finally also published a dpkg-package (that also includes Qt) so the installation progress is probably becoming easier in the future.

[2017-09-08 06:35] xepost opened #26 "Binning and brightness bug"
Hi,

I think I find a  minor bug. I recently got some pylon cameras, when I was playing  with the package I tried to use  binning and set the brightness to a  set value but it does not  seem to work.  Ii get the following error message.

[ WARN] [1504852077.113283476]: [] name not valid for camera_info_manger
[ INFO] [1504852077.141460250]: CameraInfoURL needed for rectification! ROS-Param: '/pylo

[2017-09-08 07:20] marc-up commented on #26
Thanks for reporting! You're right this is a logical bug which we didn't think about up to now. The mean brightness of the image is calculated by only taking into account a subset of pixel. This subset is represented as a vector of indices. When changing the image size, this index vector is not recalculated and the access leads to above vector-range-error. I'll think about a solution and will push

[2017-09-08 10:36] soner4 commented on #26
Hi Marcel,

If  I can come up  with some other  solution before  you do I will let you know, but seems unlikely  since  I am on a tight schedule.

[2017-09-08 16:38] marc-up commented on #26
I just finished implementing a solution for this issue, but will test it on monday before releasing it.

[2017-09-11 12:35] #26 closed

[2017-09-11 12:38] marc-up commented on #26
I published the changes and would be happy if you can give me some feedback ;-)

[2017-09-12 18:26] soner4 commented on #26
Hi Marcel ,

Sorry  for the late reply. I have  tested  with 2 Dart and one Ace model all  working  fine. My tests  were simply compiling and verifying the image acquisition. I will let you know if  I can do more tests.

[2017-10-12 18:05] tlindbloom opened #27 "FindPylon.cmake Fix"
I could not get the package to build when the pylon5 package was installed in a different location than /opt. I got it to work by changing the second line in FindPylon.cmake from:
`if (NOT "${PYLON_ROOT}")`
to:
`if (NOT DEFINED ENV{PYLON_ROOT})`

[2017-10-13 02:12] xepost opened #28 "Frame rate"
Hi,

The  max frame  rate  I get from ros does not match  to the specs and the frame  rates I get from pylon Viewer. I have   tried the latest version of the software on  daA1280-54um, daA1600-60um and acA1920-150um.

The frame rate I get from  acA1920-150um is similar to what I get  if I set the Sensor Readout mode to Normal instead of Fast, thinking that they might be related.  From the pylon Vi

[2017-10-13 05:52] marc-up commented on #28
The value you see is the return value of the 'camer.maxPossibleFrameRate()' and highly depends the connection settings and the exposure time. I can't tell you exactly how this value is internally calculated, this might be a question for the Basler support.
Regarding user set saving:
This feature is currently not implemented, but might be done via a string parameter describing the file path to the

[2017-10-13 19:40] mgrrx commented on #27
Yep you are right. We fixed it internally and will publish it with our next release.

[2017-10-13 19:40] #27 closed

[2017-10-13 19:43] mgrrx commented on #15
@irazr do you have updates on this? Your contribution would be more than welcome!

[2017-10-23 08:39] yulpun opened #29 "How to use stereo camera"
I want to open two same type of camera at the same time as the stereo system. How should I use this driver?

[2017-10-29 19:10] NikolasE commented on #29
Please ask questions how to use the package at answers.ros.org and add the tag "Pylon_camera". And please first read the documentation of the package first. You can open two cameras by setting the "device_user_id"-parameter of the node so that each node reliably opens the corresponding camera.

[2017-11-10 14:10] martomi commented on #20
I had the same problem and solved it the following way:

1) My network adapter didn't support MTU size larger than 1500, so increasing that was not an option. If you can increase it to at least 3000, it should work.

2) The pylon camera node is running with default parameter for `mtu_size` at 3000 => In order to decrease it you need to remove the comment in the config file and set it to 1500. But

[2018-01-11 04:53] ym-x opened #30 "Node is not writable"
When I use the pylon 5.10 on windows 10 32bit for an aca basler 60uc,  it throws me an exception "then node is not writable " when I use linemode.setvalue.

Please let me know if there is a solution for that problem.

[2018-01-11 08:41] NikolasE commented on #30
Are you using the ros-Node on windows?

[2018-02-08 05:13] jonbinney opened #31 "Submit rosdep rule for libpylon to ros/rosdistro?"
Any thoughts on PRing the libpylon rosdep rule into https://github.com/ros/rosdistro/blob/master/rosdep/base.yaml ?  It would make installation and use of this package easier. I'm happy to do the PR if the maintainers are OK with the idea.

 https://github.com/magazino/pylon_camera/pull/23 would need to be merged first to fix the rosdep rule.

[2018-02-08 08:16] marc-up commented on #30
Closed, as this pkg is not designed for Windows

[2018-02-08 08:16] #30 closed

[2018-02-08 08:20] #28 closed

[2018-02-13 09:34] #22 closed

[2018-02-13 09:34] #31 closed

[2018-02-13 19:03] jonbinney commented on #31
@MagazinoJenkins are you OK with me submitting the rosdep rule to the main rosdistro repo?

[2018-02-13 19:05] jonbinney commented on #31
Oops, meant @marceldebout , not the jenkins user.

[2018-03-05 10:31] #21 closed

[2018-03-05 21:31] 130s commented on #19
Great thread. This sort of information should be put up somewhere common as the best practice for implementing ROS sensor driver.

[2018-03-06 23:05] matheusns opened #33 "What is the best way to get snapshots from the package?"
Hello guys,
I'm developing an application that needs to get some snapshots. I'm using a callback and a loop (along with a ros::spinOnce) to get the frames, but sometimes, maybe for the loop, the frames stop to arrived into the callback.  Is there a way to improve this kind of operation?

[2018-03-07 08:09] NikolasE commented on #33
Could you add some details? Do you get any error message? Is the action-interface still working?

[2018-03-07 12:16] matheusns commented on #33
I'm not using the action to get the images yet, but I'd like to know more information about it, can I get images from it during a video stream? So, by now, I'm getting the snapshot from the streaming topic while it's on, but sometimes errors happen because the topic stops the publications.

[2018-03-07 12:31] NikolasE commented on #33
But do you get any error messages? What is the output from the pylon_camera_node?

[2018-03-07 12:41] matheusns commented on #33
There isn't any error, but some instability from the topic (sometimes it stops the publications), due probably for  the simultaneous streaming and snapshot. I'd like to know about the action, does it work during a continuous grabbing? Thanks for the attention.

[2018-03-07 13:20] NikolasE commented on #33
I think it would be better if you post a question at answers.ros.org (with the tag 'pylon_camera') as it's more likely that there is a problem with the way you subscribe. Issues at github are thought for reporting bugs and feature requests and less for problems when using the node. At answers.ros, you could post your listener code and others could also help.

[2018-03-07 13:55] #33 closed

[2018-03-07 13:56] #29 closed

[2018-03-15 10:42] xepost opened #34 "reverse image and double binning issue"
Hi,

I  did create a bug  before  about  binning  before it was   #26 I forgot to mention that there is an issue  with the  current version, it leads  double binning   both from hardware and  software. I have simply commented out
cam_info->binning_y = pylon_camera_->currentBinningY();
 and its x correspondence    and added
cam_info->binning_y =1; to  disable the  software binning from Ros  side. I

[2018-03-20 11:30] Crusty82 opened #35 "White Balance disabling?"
I connected a Basler acA1920-40uc USB3 camera and set up a profile on the cam in the pylon camera suite utility, among others enabling White Balance.

When running the pylon_camera stack, somehow this setting gets overwritten even if I remove this option from the yaml config file entirely, and the camera drops back into a non-white balanced image.

Is there any way to have the stack not modifying

[2018-03-24 01:02] flajolet opened #36 "CPU Usage"
Hello,

  Thanks for this great package!

  I have run some tests to compare the CPU usage of the official pylonViewer and pylon_camera when grabbing images at a constant fps with a GigE camera. The difference is quite significant, see procedure and results below. What is causing such a difference? Could it be because  "the default node operates in Software-Trigger Mode" in pylon_camera?

**Settin

[2018-03-26 19:02] flajolet commented on #36
I figured it out: [the raw image is rectified even if no one is listening to the rectified topic](https://github.com/magazino/pylon_camera/blob/indigo-devel/src/pylon_camera/pylon_camera_node.cpp#L451-L460) when the camera info is provided.

[2018-03-26 19:08] NikolasE commented on #36
Great find, you are right, this should be disabled, if the rectified image is never used.
We need to find a solution that works for the streaming interface (via topics) as well as the action-based interface.

[2018-03-26 23:22] flajolet commented on #36
`cv_bridge_img_rect_` does not seem to be used at all by the action-based interface so it seems that it would be possible to simply move [this section](https://github.com/magazino/pylon_camera/blob/indigo-devel/src/pylon_camera/pylon_camera_node.cpp#L451-L460) right before publishing the rectified image in the same [if scope](https://github.com/magazino/pylon_camera/blob/indigo-devel/src/pylon_cam

[2018-03-28 09:31] marc-up commented on #36
Thanks! You're right, I'll push your proposed fix soon.

[2018-03-28 10:07] #36 closed

[2018-03-31 02:20] philpax commented on #15
I'd also like to check if anyone's had any luck with adding hardware trigger functionality; we also need it for stereo camera use.

[2018-04-18 08:21] csukuangfj opened #42 "framerate is ignored when it is less than the maximum supported framerate"
See the config file
https://github.com/magazino/pylon_camera/blob/ea4d9438b8351b6577dc1fd2bd29d961c21415db/config/default.yaml#L31-L34

and the code
https://github.com/magazino/pylon_camera/blob/ea4d9438b8351b6577dc1fd2bd29d961c21415db/src/pylon_camera/pylon_camera_node.cpp#L331-L348

When the framerate is less than `maxPossibleFramerate`, it is ignored!

There should be another `if` to set the de

[2018-06-05 10:20] thinkyo commented on #35
I have the same problem. There is no function for white balancing. Will it be added?

[2018-06-05 10:42] Crusty82 commented on #35
I have found a temporary workaround, where I:

1. Open the camera in pylon_viewer
2. Set all of the settings as I like them.
3. Save the settings as a new profile
4. Set the profile as the startup profile.
5. Disable here in `pylon_camera` to overwrite the settings by commenting out this line:
https://github.com/magazino/pylon_camera/blob/indigo-devel/include/pylon_camera/internal/impl/pylon_camer

[2018-06-05 14:26] thinkyo commented on #35
Thanks. I already added the parameter to the driver myself. It must have been forgotten...

[2018-06-20 19:44] matheusns opened #43 "Image quality"
Hello guys,

I'm using the ROS pylon_camera package with a Basler acA4600-10uc and after taking some frames I notice that the image quality isn't the same as the PyloViewerApp (Pylo API Viewer), because the PylonViewer has a function named **Automatic Image Adjustment**, that basically changes the brightness parameters and also the auto white balance feature. The following images represent the dif

[2018-06-20 20:03] matheusns commented on #35
Hello guys, is there a way to implement this feature to the package, something like a parameter to disable this default profile enabling?

[2018-08-27 14:46] Brudasoe opened #44 "Problems with compiling"
Hey, I've had some trouble while following the installation, the catkin workspace wouldn't compile. The errors I've had were as follows (this is during catkin_make)
[code]
What solved it for now(didn't launch it with camera yet, but it compiled)
was to change
[this line](https://github.com/magazino/pylon_camera/blob/ced4d4fb1b1a68877eddb2e8b6be8590dad606ec/cmake/FindPylon.cmake#L17)
to
`string(REP

[2018-08-30 09:35] stwirth opened #45 "Pylon software debian download gives 404"
It seems that the version specified in
https://github.com/magazino/pylon_camera/blob/ced4d4fb1b1a68877eddb2e8b6be8590dad606ec/rosdep/pylon_sdk.rdmanifest#L28-L30

is not provided by Basler anymore.
A newer version (5.1.0.12682) is available through the website.

[2018-09-03 10:46] NikolasE commented on #45
Thanks! We will have a look and will fix it.
Update: There is also the 5.0.12.11829-Version which binary compatible `(https://www.baslerweb.com/fp-1528103157/media/downloads/documents/release_notes/Release_Notes.txt`).

[2018-09-17 07:32] edmodi opened #47 "Error Payload data on publish images"
Hi, I newer in pylon_camera node. I'm try to connect a Basler daA1280 USB3.0 in USB2.0. Pylon Viewer and ROS node run ok but when I run rqt_image_view to watch the image, the pylon node show this error message:

`Pylon camera returned invalid image! Skipping`
`Error: 3791651346 Payload data has been discarded. Payload data can be discarded by the camera device if the available bandwidth is insuffi

[2018-09-26 19:20] davidkh1 opened #48 "Visual artifacts on image_rect ROS topic when using "bayer_rggb8" encoding"
When ROS-Driver for Basler Cameras is configured to use `bayer_bggr8` efficient encoding, visual artifacts appear in rectified images. Image stream on `image_raw` topic is OK in both cases.

What is the root cause of this issue?

Attached:
1) example of a problematic image from `image_rect` topic when in .yaml file
`image_encoding: "bayer_rggb8"`
2) image is OK when `image_encoding: "rgb8"` in yam

[2018-09-28 13:12] GianlucaCerilli commented on #47
HI, I have the same problem. Did you find the solution @edmodi ?

[2018-10-01 15:46] edmodi commented on #47
Not yet. I'm try but I can not solved it

[2018-10-03 11:07] GianlucaCerilli opened #49 "Grabbing image unsuccesfully"
Hi,

I have a USB Basler camera and I need to use this package to grab the camera frames in ROS, but when I run the image_view node I cannot see anything from the pylon_camera_node.
Sometimes I also get an error about ¨Payload data has been discarded [...] Grab was not successful¨, that I think depend from some parameters. But even if I don´t have this error I cannot see anything with image_view.

[2018-10-24 09:11] edmodi commented on #47
Hi, I change DeviceLinkThroughputLimitMode parameter to Off and run ok

@GianlucaCerilli  could you confirm it?

Thanks

[2018-10-24 12:27] GianlucaCerilli commented on #47
Hi @edmodi ,

Thanks for your update. Where did you change it? I mean in the code, not in the pylon_viewer app.

Thank you

[2018-11-06 09:08] MamounGharbi commented on #47
Hello!
@edmodi @GianlucaCerilli any news in this side?
(same problem, can't figure out how to change the param in the code)

cheers!

[2018-11-07 07:43] GianlucaCerilli commented on #47
Hi @MamounGharbi,

Same problem for me..Maybe @edmodi can help us.

Cheers

[2018-11-19 12:09] mameng1 opened #51 "graping image from multi-camera"
hello,How can I capture images from multiple cameras?

[2018-11-19 13:55] NikolasE commented on #51
You can launch two cameras in different namespaces

[2018-11-19 17:53] Nguyen-Quang commented on #17
Are you still working on it @marceldebout? I really want to take advantages of wide dynamic range camera.
Which are the parts of the codes that I need to template to make it support 12bit pixel?

[2018-11-19 17:54] Nguyen-Quang commented on #17
Are you still working on it @marceldebout? I really want to take advantages of wide dynamic range cameras.
Which are the parts of the codes that I need to template to make it support 12bit pixel?

[2018-11-19 17:54] Nguyen-Quang commented on #17
Are you still working on it @marceldebout? I really want to take advantages of wide dynamic range cameras.
Which are the parts of the codes that I need to template to make it supports12bit pixel?

[2018-11-19 17:59] nqoptik commented on #17
Are you still working on it @marceldebout? I really want to take advantages of wide dynamic range cameras.
Which are the parts of the codes that I need to template to make it supports 12bit pixel?

[2018-11-20 15:45] lucasw commented on #17
Crosslink https://answers.ros.org/question/308885/capturing-12-bit-with-pylon_camera/

[2018-11-23 13:28] andersgb1 opened #52 "Default config/MTU problem"
Maybe I'm just too inexperienced with YAML, but I had great trouble tracking down the reason why I couldn't get my GigE camera to work. It turned out that the MTU had to go down to the (common) 1500 - the current default is 3000:

https://github.com/magazino/pylon_camera/blob/cf3b209208a1a3634cef10cb4f41f223744c51b0/src/pylon_camera/pylon_camera_parameter.cpp#L64

I wanted to just use the provided

[2018-11-27 22:00] salemUC opened #53 "Changing Capture Resolution"
Hello,
I am using
-Basler Ace acA4024-29uc camera,
-USB interface,
-ROS is Indigo ,
-Ubuntu 14.04
when I use pylon viewer software it allows me to change the resolution. However, with Pylon_camera ROS package I am not able to change the resolution down to 8 MP. I tried using the Binning option but it gives "Cam does not support binning…”.  Does anyone have a recommendation?

[2019-01-22 09:37] kame-hameha commented on #20
I encountered the same problem with two Basler acA1300-30gc cameras. The Pylon viewer works fine only if plugged in and then I can stream images or take a single shot, but when I try to fetch the images via ROS it does not work. The error message is the same as above:

$ roslaunch pylon_camera pylon_camera_node.launch
... logging to /home/kame/.ros/log/d0998b8e-1e27-11e9-a896-b06ebf5ffe53/roslaunc

[2019-02-21 14:27] SammyRamone commented on #53
This camera does not support binning
https://docs.baslerweb.com/#t=en%2Fbinning.htm
Are you sure that you set binning in the pylon viewer and not the area of interest?

[2019-02-26 19:44] r1d1 commented on #43
Hi,
we have the same problem (on acA4600-7gc) : the images sent by the camera node are too green and disturb the normal behavior of our algorithms. Given that we can set the White-Balance to auto in the Viewer, it would be nice to have the same feature available in the ROS node (seems not to be provided by the ROS node currently).
Are any update scheduled on that topic @jspricke @Mofef @MichaelGru

[2019-02-27 08:45] r1d1 commented on #35
The workaround worked for us too but a proper feature would be nice :)
Thanks for the tip !

[2019-03-11 09:19] eyildiz-ugoe opened #54 "The device is currently in use by another application!"
The camera is plugged, IP address is set, yet the PylonViewerApp cannot show an image from the camera. IP configuration page shows the warning of :

`The device is currently in use by another application!
Please close any applications currently using the device and click Refresh to check the status again.`

which is nonsense since no other application uses it. It's only PylonViewerApp that is prob

[2019-04-04 16:31] HeArchitect commented on #52
I have the same issue, a better solution will be not force setting the camera config or load some use set config from the camera that is tested working.

This thing is now giving me so much trouble.

[2019-04-15 20:22] schornakj commented on #48
I've run into this as well. In other CV applications a de-Bayering step is required before rectification to calculate the color values for each pixel from their compressed representation. I think the problem is that at line 521 in `pylon_camera_node.cpp` the raw image data is passed to `rectifyImage` without accounting for compression, which results in the loss of the compressed colors as the pixe

[2019-05-07 07:16] suho0515 commented on #20
@martomi
that was correct!
i solved it with your mention! thanks!

[2019-05-12 19:34] ancabilloni opened #55 "How to set ROI?"
I would like to use ROI to get a smaller focus portion of the image, in hope to has less data to pack and unpack, hence increase performance (lower latency). I see that is an available option on the camera message but how do I set this? And if i use this, would it affect the latency in the negative way since introduce extra process to pylon camera node?

Hope for some input. Thanks!

[2019-05-14 01:27] qinvav commented on #25
Hello. I’m experiencing the same issue. acA2040-35gc, Bayer 2048x1536, Ethernet, ROS Kinetic.
1. Default settings, resulting picture is way too dark.
	Pylon Viewer – 34fps, exposure(us) – 3000;
	ROS driver – 28fps, , exposure(us) – 3000.
2. ”Auto Functions” settings, resulting picture is very bright.
	Pylon Viewer – 34fps, exposure(us) – 27910;
	ROS driver – 16fps, , exposure(us) – 19299.
3. In ge

[2019-05-14 14:59] argolomb commented on #55
Same issue here

I'm trying with ex. camera.Width.SetValue(xxx) anda a get the message:

genicam.AccessException: Node is not writable. : AccessException thrown in node 'Width' while calling 'Width.SetValue()' (file 'IntegerT.h', line 77)

Works when I use AutoFunctionROIWidth node, but for me isn't seen correct.

[2019-05-15 13:30] eyildiz-ugoe commented on #20
@AustinDeric  This suggestion worked for me. Thanks.

[2019-05-21 15:26] Triocrossing commented on #20
@martomi
Thanks for saving me out ; )

[2019-05-21 17:47] ChulhoonJang opened #56 "unable to process source"
Hi,

I am trying to install pylon_camera SDK, but I got the error when I ran 'rosdep update'

I am using kinetic so I replaced 'indigo' with 'kinetic'. that's it.

What is the problem?

[2019-05-23 14:19] AJwgnr commented on #15
Just found this. So I need the hardware trigger for a custom stereo vision system and would anyhow implement it.

I would write it that way, that the user can activate the hardware trigger in the  **config/default.yaml** file.
Have there been any discussion or advices that have been discussed before regarding this implementation? Otherwise I would submit my code as a pull request the next days.

[2019-05-30 12:18] yasmeenel3sh commented on #15
@AJwgnr  can you give us an update when you do it ,if you will ,I need it as well.

[2019-06-04 08:27] uliklank commented on #54
For issues with the PylonViewerApp please directly contact Basler, since it is not part of this repository.

[2019-06-04 08:27] #54 closed

[2019-06-04 14:52] yasmeenel3sh commented on #15
@AJwgnr  ,I implemented it the way you said in this fork ,but I commented out the support for usb cameras because I needed to use ptp as well , https://github.com/yasmeenel3sh/pylon_camera/blob/indigo-devel/include/pylon_camera/internal/impl/pylon_camera_base.hpp

[2019-06-16 22:40] jveitchmichaelis opened #57 "Missing opencv dependency on installation"
I'm getting some errors trying to build the package with catkin:

[code]

I can't find any reference to OpenCV in the package, and I don't see why the object detection module is required. I assume this is coming from some outside dependency, but I have cv_bridge working in another node, so I'm not sure what's missing.

Any ideas where this dependency is coming from? Thanks!

[2019-06-16 23:11] #57 closed

[2019-06-16 23:12] jveitchmichaelis commented on #57
Turns out that apt completely messed up my Melodic install and autoremoved a bunch of libraries (aside from tons of OpenCV conflicts). I had to build `cv_bridge` from scratch with an updated version of OpenCV, that seemed to work.

[2019-06-17 21:19] acarrillo commented on #56
@ChulhoonJang , you probably figured it out by now, but the issue is that there is no kinetic release branch and you have to use `indigo-devel`. If you try the URL you provided yourself, you will see that it `404`s.

It is OK to use the `indigo-devel` release on Kinetic.

[2019-06-20 22:04] yasmeenel3sh opened #58 "Cameras keep losing connection"
I am trying to synchronize multiple cameras together ,I added ptp support to the package and fetching chunk timestamp  ,also hardware triggering , however when I connect the 2 cameras ,they don't send data with the required frame rate ,then one of them disconnects and when tries to reconnect it gives an error that it is used by another application, Did anyone face this issue before ,please help?

[2019-06-20 22:05] yasmeenel3sh commented on #58
How does the driver maps the cameras ,is it possible when one camera disconnects the other points to its space ,also any tips on the switches or network adaptors I should use.

[2019-06-21 13:56] SherifN commented on #25
I am also having the same issue with daA1600-60uc 1600x1200, USB interface, ROS melodic.
Pylon Viewer ~41fps
ROS Node ~ 20fps
Is there already a solution?

[2019-06-24 12:17] Engro39 commented on #56
@acarrillo Thank you so much. I did install the indigo-devel and verified the driver was working well. I appreciate it.

[2019-06-24 18:35] yasmeenel3sh opened #59 "Is there a way to set the camera width and height?"

[2019-07-15 12:36] NikolasE commented on #59
There is binning that you can use to merge multiple rows/columns (e.g. to create an image with size w/2  h/2), but there is no way to use arbitrary image sizes.

[2019-07-15 12:47] #59 closed

[2019-07-15 12:56] #51 closed

[2019-07-17 09:43] bmegli commented on #52
@andersgb1

In `pylon_camera/config/default.yaml`

### Option 1

[code]

### Option 2

[code]

### Option 3

[code]

I would say that that option 1 makes most sense in default yaml.
User may just uncomment the relevant lines, even without understanding yaml syntax.

[2019-07-17 10:05] bmegli commented on #52
Ok, while option 1 works, I am not sure it is a proper YAML.

I am unable to find this syntax in [YAML specification](https://yaml.org/spec/1.2/spec.html)

So option 1 makes less sense as default now...

[2019-07-22 22:42] wayne-li-bc commented on #35
@thinkyo can you give some details on how you added white balance parameter to the package? We ran into the same params overwriting problem.

[2019-07-25 11:17] NikolasE commented on #55
You can set the ROI with the ~set_roi service:

rosservice call /pylon_camera_node/set_roi "target_roi: {x_offset: 1220, y_offset: 1000, height: 200, width: 400, do_rectify: false}

[2019-07-25 11:18] #53 closed

[2019-07-25 11:19] NikolasE commented on #58
How do you start the cameras? Do you configure the device_user_id for each camera?

[2019-10-02 20:04] JeanAlexisBoulet commented on #58
Hi, we are facing similar issue here with a 5 usb camera setup.
Did you have any success resolving your issue?

[2019-10-06 16:39] yasmeenel3sh commented on #58
From what I understand is that the mapping of the cameras gets changed I don't know why, so what I did is I increased the delay that the code waits for before reconnecting to the camera so that it has time to show itself again, also I worked around with the interpacket delay and frame transmission delays  so that not all cameras send packets at the same time, however I was using an Ethernet camera

[2019-10-06 16:45] yasmeenel3sh commented on #58
if ( pylon_camera_->isCamRemoved() )
    {
        ROS_ERROR("Pylon camera has been removed, trying to reset");
        delete pylon_camera_;
        pylon_camera_ = nullptr;
        for ( ros::ServiceServer& user_output_srv : set_user_output_srvs_ )
        {
            user_output_srv.shutdown();
        }
        set_user_output_srvs_.clear();
        ros::Duration(1.5).sleep();  // sleep for

[2019-11-15 18:36] megantuttle commented on #47
I'm sure you have it figured out by now, but in case someone else comes looking, I had the same issue and I also resolved it by setting the DeviceLinkThroughputLimitMode to off.  I added the following to `pylon_camera_usb.hpp` under the `PylonUSBCamera::applyCamSpecificStartupSettings` function:
[code]

[2019-12-05 15:04] kspons commented on #25
same issue with acA2500-60uc. in ROS will not go above 18.84 Hz

[2019-12-06 06:12] qinvav commented on #25
I might be wrong but I believe that the reason for the difference in FPS is different grabbing strategies. Pylon viewer uses so-called “free-running” mode, which yields maximum FPS. This driver uses (presumably) WaitForFrameTriggerReady() + ExecuteSoftwareTrigger(), which is slower, but necessary for stereo/multiple cameras synchronization (I guess). If someone is not afraid to get his hands a bit

[2019-12-27 09:17] Kyungpyo-Kim opened #62 "Problem with Jetson Nano"
Hello.
I'm using Jetson Nano and Basler camera acA1300-30gc.

Actually, I've been using well this package with Jetson TX2.
However it didn't work with Jetson Nano.

Please refer below error messages.

Thanks!

[code]

[2020-01-17 12:52] fho306 commented on #48
I ran into this exact issue as well and found two ways to fix it:

A. Convert the image before rectification:
`cv::cvtColor(cv_img_raw->image, cv_img_debayer_->image, cv::COLOR_BayerBG"BGR);'
'cv_bridge_img_rect_->encoding = "rgb8";'

B. Publish the rectified image via image_transport instead of ros::Publisher*
See this pull request on the newer version of this driver:
https://github.com/basler/py

[2020-01-24 12:21] eyildiz-ugoe commented on #20
Even though I set it to 3000 or 9000 in the config, when I launched the node it printed 1500. All other config settings were loaded but not this. So, in order to solve this, you must use the `/opt/pylon5/bin/PylonViewerApp` and follow [this](https://codeyarns.com/2015/01/15/how-to-check-maximum-packet-size-for-basler-camera/).

[2020-03-06 15:45] claudiofantacci commented on #25
May be related to https://github.com/basler/pylon-ros-camera/issues/28 and/or https://github.com/basler/pylon-ros-camera/issues/29, even thought the implementation may be different in some part.

[2020-08-18 11:44] ssh1375 opened #65 "timestampt incorrect"
i have basler ace 1920 um camera,the camera is front of cornomter with millsecond percision,the chunk timestampt is 40 millise added in next frame but real image shows frames gap is not as same as chunk timestamp to be 40,they are 10,5,60 sometime 31,what is have to do?
i have real time application for measure speed of car then i need real timestampt of frame.
would you guy help me?

[2020-08-27 14:50] Neel1302 commented on #65
@ssh1375 This may have to do with the mapping between the ticks reported by the timestamp to the time elapsed.

See magazino/pylon_camera#38 and https://github.com/magazino/pylon_camera/pull/38#discussion_r478466074 to see if that helps.

[2020-12-27 19:58] hannespimmel commented on #47
I solved the problem by increasing the Maximum Transfer Size.
You find this parameter in pylon Viewer at Stream Parameters and with the ros camera driver with the rosservice: "rosservice call /pylon_camera_node/set_max_transfer_size 150000"

[2021-03-20 14:42] SebyKiu opened #66 "Basler Camera requires Dockercontainer restart"
Whenever the rosrun pylon_camera pylon_camera_node  ... get's interupted (Ctrl + c) the Dockercontainer has to be restarted (not rebuild).
Otherwise the camera will not be detected again and no messages will be published.

Used Camera: Basler acA2440 - 75 uc
Used with Basler Sdk 6.2

[2021-08-03 09:40] RGring opened #67 "Very low frame rate in ROS"
Hi,
I have the a2A 1920-160ucBAS. I made all my settings in the pylon viewer and loaded the custom user set. In the pylon viewer, I get a FPS of around 150.

When I run the camera with the default settings, I get a super low framerate of only ~3.3. I would like to get a FPS of 30.

Here the logging when the camera starts.
`
SUMMARY
========

PARAMETERS
 * /pylon/camera_frame: camera_link
 * /pylon

[2021-12-17 20:04] husnejahan opened #68 "Basler acA2500-14gc (23363392) Image acquisition on "Basler acA2500-14gc (23363392)" failed! Error: 0xe1000014 "The buffer was incompletely grabbed."
Basler acA2500-14gc (23363392) Image acquisition on "Basler acA2500-14gc (23363392)" failed! Error: 0xe1000014 "The buffer was incompletely grabbed. This can be caused by performance problems of the network hardware used, i.e. network adapter, switch, or ethernet cable. To fix this, try increasing the camera's Inter-Packet Delay in the Transport Layer category to reduce the required bandwidth, and